<div class="shopping-cart sidebar-collapse">
  <div class="page-header header-filter" filter-color="red">
    <div class="container-fluid">
      <div class="main main-raised">
        <div class="card card-plain">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <h3 class="card-title text-center">Menu</h3>
                <div class="table-responsive">
                  <table class="table table-shopping">
                    <thead>
                      <tr>
                        <th class="text-center"></th>
                        <th>Item</th>
                        <th class="text-right">Price</th>
                        <th class="text-right"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="img-container">
                            <img src="#" alt="future work">
                          </div>
                        </td>
                        <td class="td-name">
                          Shahi Paneer
                          <br />
                          <small>by Cafeteria</small>
                        </td>
                        <td class="td-number text-right">
                          <small>&#8377;</small>200
                        </td>
                        <td class="td-number">
                          <%  %>
                            <button class="btn btn-round btn-info"> Add </button>
                          <%  %>
                            1
                            <div class="btn-group btn-group-sm">
                              <button class="btn btn-round btn-info"> <i class="material-icons">remove</i> </button>
                              <button class="btn btn-round btn-info"> <i class="material-icons">add</i> </button>
                            </div>
                          <%  %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-3 border-left">
                <h4 class="card-title text-center">Shopping Cart</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Item-Name</th>
                        <th>Qunatity</th>
                        <th>Total Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        <td class="col-md-5">Shahi Paneer</td>
                        <td class="col-md-2">4</td>
                        <td class="col-md-4"><small>&#8377;</small>
                          1000
                        </td>
                        <td class="col-md-1">
                          <%= form_with(url: "/", method: "delete") do %>
                            <button type="submit" class="btn btn-link">
                              <i class="material-icons">close</i>
                            </button>
                          <% end %>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot class="card-title">
                      <tr>
                        <td colspan="2" class="text-right">
                          Total Amount =
                        </td>
                        <td class="text-left">
                          &#8377;10000
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
