<div class="shopping-cart sidebar-collapse">
  <div class="page-header header-filter shopping-background" data-parallax="true" filter-color="blue">
    <div class="container-fluid">
    <br/><br/>
      <div class="main main-raised">
        <div class="card card-plain">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h3 class="card-title text-center">Shopping Cart</h3>
                <div class="table-responsive">
                  <table class="table table-shopping">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Item</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Qty</th>
                        <th class="text-right">Amount</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">
                          1.
                        </td>
                        <td class="td-name">
                          Shahi Paneer
                          <br />
                          <small>by UberEats</small>
                        </td>
                        <td class="td-number text-right">
                          <small>&#8377;</small>200
                        </td>
                        <td class="td-number">
                          1
                          <div class="btn-group btn-group-sm">
                            <button class="btn btn-round btn-info"> <i class="material-icons">remove</i> </button>
                            <button class="btn btn-round btn-info"> <i class="material-icons">add</i> </button>
                          </div>
                        </td>
                        <td class="td-number">
                          <small>&#8377;</small>549
                        </td>
                        <td class="td-actions">
                          <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-link">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>

                      <tr>
                        <td colspan="3"></td>
                        <td class="td-total">
                          Total
                        </td>
                        <td colspan="1" class="td-price">
                          <small>&#8377;</small>10000
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                      <td colspan="6" class="text-center">
                        <button type="button" class="btn btn-info btn-round">Confirm and place the order <i class="material-icons">keyboard_arrow_right</i></button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
