<div class="about-us sidebar-collapse">
  <div class="page-header header-small about-background" data-parallax="true">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">About Us</h1>
          <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
        </div>
      </div>
    </div>
  </div>
    <div class="main main-raised">
      <div class="container">
        <div class="about-description text-center">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h5 class="description">Cafeteria is an online food ordering platform. Users can read menus and order food from the cafeteria using an application on the iOS or Android platforms, or through a web browser.</h5>
            </div>
          </div>
        </div>
        <div class="about-team team-1">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">We are nerd rockstars</h2>
              <h5 class="description">I build this project as the final Milestone target for the WEB201 course provided by Pupilfirst.school</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img teammate1">
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Future Team-mate 1</h4>
                  <h6 class="category text-muted">#Skills</h6>
                  <p class="card-description">
                    Anything to say
                  </p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-github">
                    <i class="fa fa-github"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img profile-img">
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Shubhank Singhal</h4>
                  <h6 class="category text-muted">Web Developer</h6>
                  <p class="card-description">
                    Well, Rome wasn't built in a day so this project.
                  </p>
                </div>
                <div class="card-footer justify-content-center">
                  <a href="https://github.com/ShubhankSinghal" class="btn btn-just-icon btn-link btn-github"><i class="fa fa-github"></i></a>
                  <a href="https://www.facebook.com/shubhank41/" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook-square"></i></a>
                  <a href="https://www.instagram.com/shubhank_singhal/" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/shubhanksinghal/" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img teammate2">
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Future Team-mate 2</h4>
                  <h6 class="category text-muted">#Skills</h6>
                  <p class="card-description">
                    Anything to say.
                </div>
                <div class="card-footer justify-content-center">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-github">
                    <i class="fa fa-github"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
      </div>
    </div>
</div>
