
<div class="page-header home-background">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left">
        <h1 class="title">Hungry? You're in the right place</h1>
        <div class="col-md-2 text-left"><%= link_to :"Sign in here!", new_sessions_path, class: "btn btn-rose btn-round btn-block" %></div>
        <br>
      </div>
    </div>
  </div>
</div>
