.login-background {
  background-image: url("login.jpg");
  background-size: cover;
  background-position: top center;
}

.home-background {
  background-image: url("bg.png");
  background-size: cover;
  background-position: top center;
}

.home1-background {
  background-image: url("home.png");
  background-size: cover;
  background-position: top center;
}

.shopping-background {
  background-image: url("shopping.png");
  background-size: cover;
  background-position: top center;
  filter: blur(5px);
}

.about-background {
  background-image: url("about.jpg");
  background-size: cover;
  background-position: top center;
}

.teammate1 {
  content: url("teammate1.png");
}

.teammate2 {
  content: url("teammate2.png");
}

.profile-img {
  content: url("profile.png");
}
