.login-background {
  background-image: url("login.jpg");
  background-size: cover;
  background-position: top center;
}

.home-background {
  background-image: url("bg.png");
  background-size: cover;
  background-position: top center;
}

.home1-background {
  background-image: url("home.png");
  background-size: cover;
  background-position: top center;
}

.shopping-background {
  background-image: url("shopping.png");
  background-size: cover;
  background-position: top center;
}
